html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  padding: .4em .75em .5em;
}

a {
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: .4em .75em .5em;
  margin: 0 0 1rem;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
}

h1 {
  font-family: "Dosis", sans-serif;
}

dl {
  display: inline-block;
}
